<html>
<body>
<h1>Latest Hash By Nodes</h1>
<h2>Time now: {{ .CurrentTime }} </h2>
<table border = 2 cellpadding=2>
<tr>
<th>NodeID</th><th>Name</th><th>h/s</th><th>Peer Count</th><th>Block</th><th>Last datapoint</th>
</tr>
	{{range .LatestLogHash}}
		<tr>
			<td>{{.Nodeid}}</td>
			<td>{{.Nodename}}</td>
			<td style="background-color:{{.HashRateColor}}" >{{.Hashrate}}</td>
			<td style="background-color:{{.PeerCountColor}}" >{{.Peercount}}</td>
			<td style="background-color:{{.BlockNumberColor}}" >{{.Blocknumber}}</td>
			<td style="background-color:{{.TimeStampColor}}" >{{.FormatTimeStamp}}</td>
		</tr>
	{{end}}
</table>

<br><br>
<h1>Average Hashes</h1>
<table border = 2 cellpadding=2>
<tr><th>Nodeid</th><th>Nodename</th><th>Average Hash</th></tr>
	{{range .AverageHashes}}
		<tr>
			<td>{{.Nodeid}}</td>
			<td>{{.Nodename}}</td>
			<td>{{.FormatAvgHash}}</td>
		</tr>
	{{end}}
</table>
<br><br>

<h1>Latest Total Hashes</h1>
	<table border = 2 cellpadding=2>
	<tr>	<th>Timestamp</th><th>Total h/s</th><th>Number of Nodes{{.TotalNumberOfNodes}}</th></tr>
		{{range .TotalHashes}}
		<tr>
			<td>{{.Tstamp}}</td>
			<td>{{.TotalHash}}</td>
			<td>{{.NumberOfNodes}}</td>
			</tr>
			{{end}}
	</table>
</body>
</html>